
*.pyc
*.pyd
*.pyo
/CHRLINE/.data
/CHRLINE/.database
/CHRLINE/.e2eeKeys
/CHRLINE/.images
/CHRLINE/.refreshToken
/CHRLINE/__pycache__
/CHRLINE/.e2eePublicKeys
__pycache__/
/CHRLINE/.tokens
.git
CHRLINE.egg-info
dist
build
.idea/
*.swp
*.log
node_modules

# DO NOT UPDATE THRIFT FILES PUBLIC THIS REPO
/CHRLINE/services/thrift/*Service.py
/CHRLINE/services/thrift/*Service-remote
